
/*@font-face {
  font-family: 'Nova_Square';
  src: url(./Nova_Square/NovaSquare-Regular.ttf);
}*/
@font-face {
  font-family: 'Orbitron';
  src: url(./Orbitron/Orbitron-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tahoma', sans-serif;
  background-color: #333;
}

main {
  margin: 5px auto;
  max-width: 600px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  margin-bottom: 10px;
}
h1 {
  flex: 2;
  font-family: 'Orbitron';
  font-size: 4em;
  text-align: center;
  display: inline;
}
header input {
  flex: .6;
  margin-top: 30px;
  height: 90%;
}

canvas {
  display: block;
  margin: 0px auto;
}

.info_box {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
.info_box > section {
  flex: 1;
  text-align: center;
}
.info_box span {
  font-size: 2em;
}
#black_info, #white_info {
  border: 3px dashed #777;
  border-radius: 10%;
}
input {
  padding: 7px 10px;
  border-radius: 10px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'Tahoma', sans-serif;
  border: none;
  outline: none;
  margin: 8px;
  transition: background-color 0.3s ease;
}
.input_hover {
  background-color: #777;
  
}
.input_dehover {    /*manual dehover on mobile*/
  background-color: #555;
}
